go 1.20

use (
	./apis/analytics/custom_behavioral_events
	./apis/auth/oauth
	./apis/automation/actions
	./apis/business-units/business_units
	./apis/cms/audit-logs
	./apis/cms/authors
	./apis/cms/blog-posts
	./apis/cms/domains
	./apis/cms/hubdb
	./apis/cms/performance
	./apis/cms/site-search
	./apis/cms/source_code
	./apis/cms/tags
	./apis/cms/url-redirects
	./apis/communication-preferences/communications-status
	./apis/conversations/visitor_identification
	./apis/crm/accounting
	./apis/crm/associations
	./apis/crm/calling
	./apis/crm/companies
	./apis/crm/contacts
	./apis/crm/crm_associations
	./apis/crm/crm_extensions
	./apis/crm/deals
	./apis/crm/feedback_submissions
	./apis/crm/imports
	./apis/crm/line_items
	./apis/crm/objects
	./apis/crm/owners
	./apis/crm/pipelines
	./apis/crm/products
	./apis/crm/properties
	./apis/crm/quotes
	./apis/crm/schemas
	./apis/crm/tickets
	./apis/crm/timeline
	./apis/crm/videoconferencing
	./apis/events/events
	./apis/marketing/marketing-events-beta
	./apis/marketing/transactional
	./apis/webhooks/webhooks
)
